html {
   background-color: black; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 16px; /* 1rem = 16px */
   color: white;
}
header {
    font-size: 50px;
    text-align: center;
    align-items: top;
    margin: 0;
}
